body {
    background-color: mintcream;
}

#input-field-text {
    color: red;
}

#input-text-field {
    background-color: rgb(0, 204, 255);
}

#output-field-text {
    color: blue;
}

#output-text-field {
    background-color: yellow;

}

#btn {
    background-color: green;
}